

#navbar {
	object-position: fixed;
}

#nav-item {
	background-color: black;
}

.card-signup {
  max-width: 350px;
  margin: 0 auto;
}

.card-signup .card-header {
  margin: 0 20px;
  padding: 30px 0;
}

.card-signup .card-title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: ;
}

.card-signup .card-footer {
  margin-bottom: 10px;
  margin-top: 24px;
  padding: 24px 0;
}

.card-signup .card-body {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: auto;
}

.card-signup .form-check,
.card-signup .form-check.form-check-radio {
  margin-top: 20px;
}

.card-signup .form-check label,
.card-signup .form-check.form-check-radio label {
  margin-left: 11px;
  color: initial;
  padding-left: 40px;
}

.card-signup .card-description {
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-signup .social-line {
  margin-top: 20px;
  text-align: center;
}

.card-signup .social-line .btn.btn-icon,
.card-signup .social-line .btn.btn-icon .btn-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

/*Animations*/

.nav-pills .nav-link,
.nav-item .nav-link,
.navbar,
.nav-tabs .nav-link,
.tag,
.tag [data-role="remove"] {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.dropdown-toggle:after,
[data-toggle="collapse"][data-parent="#accordion"] i {
  -webkit-transition: transform 150ms ease 0s;
  -moz-transition: transform 150ms ease 0s;
  -o-transition: transform 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: transform 150ms ease 0s;
}

.dropdown-toggle[aria-expanded="true"]:after,
[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*start of Parallax css code*/

*{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* Basic Styles for the page */
html{
	background:#CCC;
	text-align: center;
	height:100%;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
body{
	height:100%;
	color:white;
/*	text-shadow:1px 1px 0 #000;*/
}

a:link, a:visited{
	color:#E0CB77;
	text-decoration: none;
}
a:active{
	color:#3F5263;
}
a:hover{
	text-decoration: underline;
}
a.btn {
	border: 3px solid white;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: white ;
	background: transparent;
	cursor: pointer;
	padding: 1.4rem 4rem;
	display:inline-block;
	text-align:center;
	margin:0;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	border-radius:2px;
	-webkit-transition:all 0.1s ease-in-out;
	   -moz-transition:all 0.1s ease-in-out;
	        transition:all 0.1s ease-in-out;
}
a.btn:hover{
	background:#9d89c1;
	color:white;
}


/* Text Styles for the page */
h1 {
	font-size: 4rem;
	text-transform: uppercase;
	margin-bottom:20px;
	color: white;
}
h2 {
	font-size: 2.5rem;
	text-transform: uppercase;
	line-height: 4rem;
	margin-bottom:20px;
}

.highlight {
	color: white;
} 

h3 {
	font-size: 1.6rem;
	text-transform: uppercase;
	line-height: 2.5rem;
	margin-bottom:20px;
	color: white;
}

h4 {
	font-size: 1.6rem;
	text-transform: uppercase;
	line-height: 2.5rem;
	margin-bottom:20px;
	color: #4f075b;
}

h6 {
	margin-bottom:20px;
	color: white;
}
p {
	font-size: 1rem;
	line-height: 2rem;
	text-shadow:none;
}
blockquote {
	font-size: 1.2rem;
}
pre {
	font-size: 0.9rem;
}



.content{
	display:block;
	padding:100px 50px;
	width:100%;
	max-width: 960px;
	margin:0 auto;
	overflow:hidden;
}
.content img{
	width:30%;
	height:auto;
	float:left;
	display:inline;
	padding:10px;
}

/* Section Styles for the page */
section{
	background:white;
	padding:0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper{
	color:#000;
	text-shadow:none;
}

.hero{
	background:url(photos/shoes.jpg);
	background-size: cover;
	height: 80%;
    max-height:90%;
    overflow: hidden;
}
.hero .content{
	margin-top:13%;
}
.middle{
	background:url(photos/solo_street.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	
}
.lower{
	background:url(photos/dj.jpg);
	background-size: cover;

}
.bottom{
	background:#1d063d;
}

.overlay{
	position: relative;
  	z-index: 1;
}
.overlay:after{
	background:rgba(0, 0, 0, 0.6);
	content: "";
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1; 
 	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}


/*End of Parallax CSS code*/



